<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/"><i class="fa fa-building-o"></i> {{ site.title }}</a>
    <a class="site-title" style="float:right" href="/pmi/"><i class="fa fa-ticket"></i> Register</a>
  </div>

<!-- 
    <nav class="site-nav">
      <a href="#"><i class="fa fa-ticket fa-border"></i> <strong>Register</strong> </a> 
    </nav>

  </div>
-->
  <div class="wrapper">
    <p align="left"><i class="fa fa-calendar-o"></i> <strong>March 26<sup>th</sup></strong> - Center for Entrepreneurial Leadership, BA 1 - Room 135</p>
  </div>

</header>
