<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><i class="fa fa-building-o"></i> {{ site.title }}</a>

    <nav class="site-nav">
      <a href="#"><i class="fa fa-ticket fa-border"></i> Register </a> 
    </nav>

  </div>

  <div class="wrapper">

    <span class="site-title-info"><i class="fa fa-calendar-o"></i> March 26<sup>th</sup></span>
    <span class="site-title-info2"><i class="fa fa-calendar-o"></i> Center of Entreprenaurial Learning</span>
    <span class="site-title-info2"><i class="fa fa-calendar-o"></i> University of Central Florida</span>    

  </div>

</header>
