<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><i class="fa fa-building-o"></i> {{ site.title }}</a>

    <nav class="site-nav">
     
      {% if page.url == {{ site.about_page }} %}
        <a href="#"><i class="fa fa-info"></i> About </a> &nbsp;&nbsp;&nbsp;&nbsp;
      {% else %}
        <a href="about"><i class="fa fa-info"></i> About </a> &nbsp;&nbsp;&nbsp;&nbsp;
      {% endif %}

      <a href="#"><i class="fa fa-ticket"></i> Register </a> 

    </nav>

  </div>

</header>
